<section class="home">
	<div data-ng-controller="homeCtrl"  id="page">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
		  	 <div class="navbar-header">
		        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#">GetWord</a>
		   	 </div>	
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <div class="col-sm-3 col-md-3 pull-right">
		            
		          <form class="navbar-form" method="post">
		                <div class="input-group">
		                    <input type="text" class="form-control" placeholder="Search" name="q" ng-model="input">
		                    <div class="input-group-btn">
		                        <button class="btn btn-default" type="submit" ng-click="getDico()"><i class="glyphicon glyphicon-search"></i></button>
		                    </div>
		                </div>
		            </form>
		        </div>        
		    
		</nav>
	
		<div class="row" >
	  		<div class="col-xs-4 col-md-3"">	
		  			 <div id="raffinement" class="panel-group">
	    				<nav id="navigation" role="navigation" class="panel panel-default">
			  				    <div class="panel-heading">
							      <h4 class="panel-title"><span>Raffinement</span>
							        <a id='aRaf' class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="collapseOne" ng-click="showHide('aRaf')">
							          <span class="glyphicon glyphicon-minus pull-right"></span>
							        </a>
							      </h4>
							    </div>
			  				<div id="collapseOne" class="panel-collapse collapse in">
	     					 <div class="panel-body">
	     					 	
				  				<ul id="list" class="nav-inner">
				  					
				  				</ul>
				  				
				  			 </div>
				  			</div>
				  		</nav>
					</div>
				
	  		</div>
	  		
	  		<div class="col-xs-12 col-md-9 main" >
	  			<div id="Definitions" class="panel-group">
    				<div class="panel panel-default">
		  			    <div class="panel-heading">
					      <h4 id="titleDef" class="panel-title"><span></span>
					        <a id='aDef' class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="collapseTwo" ng-click="showHide('aDef')">
					          <span class="glyphicon glyphicon-minus pull-right"></span>
					        </a>
					      </h4>
					    </div>
				    	<div id="collapseTwo" class="panel-collapse collapse in">
     					 <div class="panel-body">
			  				<ul id='relations'>
			  					
			  				</ul>
			  			 </div>
			  			</div>
	    			</div>
	    		</div>	
	    	</div>
	   </div>
   </div>
</section>