<section class="home">

<div data-ng-controller="searchCtrl"  id="page">
    <div class="container">
            <div class="row">
                <div class="span4"></div>
                <div class="span4"><img class="center-block" src="http://www.jeuxdemots.org/logo-jdm/Logo_JDMrect_fond_transp.png" width="270" height="50" alt="Google" id="logo"></div>
                <div class="span4"></div>
            </div>
            <div class="row">
                  <div class="col-xs-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q" ng-model="input">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
    </div>
            
</div>
		


</section>

