.row{
    padding-top: 5%;
    height: 100%
}

.home{
    height: 100%
}

#page{
    width: 100%;
    position: left;
}
.container{
    width: 100%;
    margin-top: 5%;
    height: 80%;
    position: left;
}

.form-control{
    height:3%;
    width: 100%;
    border-radius:6px;
    border:none;
    color:#939393;
    font-weight:500;
    background-color:#fffbf8;
    -webkit-box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow: 
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

#searchBar{
    width: 100%;
}

button[type="submit"]{
    width: 85%;
    height:151%;
    border:none;
    cursor:pointer;
}

.rels > p{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dddddd;
    
}

.pull-right{
    margin-top: 0.7%;
    margin-right: 2%; 
}

.pull-right > button{
    background-color: #A44600;
    border-color: #DC6600;
}

nav > div, nav{
    background-color: #000066;
}

#getword{
 color: #ffffff;
} 