/*@media screen and (min-width: 768px) {
 
.custom-collapse .collapse{
  			display:block;
      }  
}*/
li { list-style-type: none; margin: 0; padding: 0; }
/* Responsive Navigation styles begin here */
